[submodule "opt/crosscompute/examples"]
	path = opt/crosscompute/examples
	url = git@github.com:crosscompute/crosscompute-examples
[submodule "opt/crosscompute/types"]
	path = opt/crosscompute/types
	url = git@github.com:crosscompute/crosscompute-types
