{% macro head_style_loaded() %}{% endmacro %}
{% macro head_style_inline() %}{% endmacro %}
{% macro head_script_inline() %}{% endmacro %}
{% macro body_script_loaded() %}{% endmacro %}
{% macro body_script_inline() %}{% endmacro %}

{% macro render_argument(data_item) %}
{% set key = data_item.key %}
<input id="{{ key }}" name="{{ key }}" class="form-control" autocomplete="off" value="{{ data_item.value }}" type="number" step="1">
{% endmacro %}

{% macro render_property(data_item, stamp='') %}
{% set key = data_item.key + stamp %}
<div id="{{ key }}">{{ data_item.value }}</div>
{% endmacro %}
