{% macro render_query(key) %}
{% set tool_argument_noun = prepare_tool_argument_noun(key) %}
{% set data_type = get_data_type_for(tool_argument_noun) %}
{% from data_type.template import render_query with context %}
{{ render_query(tool_argument_noun) }}
{% endmacro %}

{% macro render_value(key, path) %}
{% set tool_argument_noun = key[:-5] %}
{% set data_type = get_data_type_for(tool_argument_noun) %}
{% from data_type.template import render_value with context %}
{% set value = data_type.load_safely(path) %}
{% if value is not none %}
{{ render_value(tool_argument_noun, value) }}
{% else %}
{% set data_type = get_data_type_for('') %}
{% from data_type.template import render_value with context %}
{{ render_value(key, path) }}
{% endif %}
{% endmacro %}
