{% macro head_style_loaded() %}{% endmacro %}
{% macro head_style_inline() %}{% endmacro %}
{% macro head_script_inline() %}{% endmacro %}
{% macro body_script_loaded() %}{% endmacro %}
{% macro body_script_inline() %}{% endmacro %}

{% macro render_argument(data_item) %}
{% set key = data_item.key %}
<input id="{{ key }}" name="{{ key }}" class="form-control" autocomplete="off" value="{{ data_item.format_value() }}" type="text">
{% endmacro %}

{% macro render_property(data_item, stamp='') %}
{% set key = data_item.key + stamp %}
{% set value = data_item.value %}
<div id="{{ key }}">
{% set lines = (value | string).strip().splitlines() %}
{% if lines | length == 1 %}
{{ value -}}
{% else %}
{% for line in lines %}{{ line }}<br>{% endfor -%}
{% endif %}
</div>
{% endmacro %}
