{% macro head_style_loaded() %}{% endmacro %}
{% macro head_style_inline() %}{% endmacro %}
{% macro head_script_inline() %}{% endmacro %}
{% macro body_script_loaded() %}{% endmacro %}
{% macro body_script_inline() %}{% endmacro %}

{% macro render_argument(data_item) %}
{% set key = data_item.key %}
<textarea id="{{ key }}" name="{{ key }}_txt" class="form-control" rows="10">{{ data_item.value }}</textarea>
{% endmacro %}

{% macro render_property(data_item, stamp='') %}
{% from 'string.jinja2' import render_property %}
{{ render_property(data_item, stamp=stamp) }}
{% endmacro %}
