{% extends live_template_path %}

{% block head_html %}
{{ super() -}}
<meta name="title" property="og:title" content="{{ name }}" />
<meta name="description" property="og:description" content="{{ description }}">
<meta name="image" property="og:image" content="{{ host_uri }}{{ root_uri }}/favicon.ico" />
<meta property="og:url" content="{{ host_uri }}{{ root_uri }}{{ uri }}" />
<meta name="twitter:card" content="summary">
{% endblock %}

{% block header_html %}
{% if not for_embed %}
<a href="{{ root_uri or '/' }}">Root</a> &gt;
<a href="{{ root_uri }}{{ uri }}">{{ name }}</a>
{% endif %}
{% endblock %}

{% block main_html %}
{% if step_name != 'none' %}
{{ super() -}}
{% endif %}
{% endblock %}

{% block footer_html %}
{% if not for_embed %}
<ul class="_batches">
{% for batch_definition in batch_definitions %}
{% set absolute_batch_uri = root_uri + uri + batch_definition.uri %}
<li>
{{ batch_definition.name }}
<a href="{{ absolute_batch_uri }}/i">input</a>
<a href="{{ absolute_batch_uri }}/o">output</a>
{% if automation_definition.variable_definitions_by_step_name['print'] %}
<a href="{{ absolute_batch_uri }}/p">print</a>
{% endif %}
</li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}

{% block body_js %}
{% include 'step-body.js' %}
{{ super() -}}
{% endblock %}
