<!DOCTYPE html>
<html>
<head>
{% block head_html %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{ title_text }}</title>
{% for css_uri in css_uris %}
<link href="{{ css_uri if '//' in css_uri else root_uri + css_uri }}" rel="stylesheet">
{% endfor %}
{% if root_uri %}
<link rel="icon" href="{{ root_uri }}/favicon.ico"/>
{% endif %}
<style>
{% block head_css %}
{{ css_text | safe }}
{%- endblock %}
</style>
{%- endblock %}
</head>
<body>
<header>
{% block header_html %}
{{ header_text | safe }}
{%- endblock %}
</header>
{% if main_class %}
<main class="{{ main_class }}">
{% else %}
<main>
{% endif %}
{% block main_html %}
{{ main_text | safe }}
{%- endblock %}
</main>
<footer>
{% block footer_html %}
{{ footer_text | safe }}
{%- endblock %}
</footer>
{% for js_uri in js_uris %}
<script src="{{ js_uri }}"></script>
{% endfor %}
<script>
{% block body_js %}
{{ js_text | safe }}
{%- endblock %}
</script>
</body>
</html>
