main > * {
  margin: 0;
}
._vertical, ._view {
  display: flex;
  flex-direction: column;
}
._vertical {
  gap: 16px;
}
._view img {
  align-self: start;
  max-width: 100%;
}
#_run {
  padding: 8px 0;
}
