{% extends LIVE_JINJA2 if WITH_REFRESH else BASE_JINJA2 %}

{% block head_html %}
{{ super() -}}
<meta name="title" property="og:title" content="{{ name }}" />
<meta name="description" property="og:description" content="{{ description }}">
<meta name="image" property="og:image" content="{{ host_uri }}{{ ROOT_URI }}/favicon.ico" />
<meta property="og:url" content="{{ host_uri }}{{ ROOT_URI }}{{ uri }}" />
<meta name="twitter:card" content="summary">
{% endblock %}

{% block header_html %}
{% if not for_embed %}
<a href="{{ ROOT_URI or '/' }}">Root</a> &gt;
<a href="{{ ROOT_URI }}{{ uri }}">{{ name }}</a>
{% endif %}
{% endblock %}

{% block main_html %}
{% if mode_name != 'none' %}
{{ super() }}
{% include 'modeMain.html' %}
{% endif %}
{% if not for_embed %}
<ul class="_batches">
{% for batch in batches %}
<li>
{{ batch['name'] }}
<a href="{{ ROOT_URI }}{{ uri }}{{ batch['uri'] }}/i">[input]</a>
<a href="{{ ROOT_URI }}{{ uri }}{{ batch['uri'] }}/o">[output]</a>
</li>
{% endfor %}
</ul>
{#
<ul class="_runs">
{% for run in runs %}
<li>
{{ run['name'] }}
<a href="{{ ROOT_URI }}{{ uri }}{{ run['uri'] }}/i">[input]</a>
<a href="{{ ROOT_URI }}{{ uri }}{{ run['uri'] }}/o">[output]</a>
</li>
{% endfor %}
</ul>
#}
{% endif %}
{% endblock %}

{% block body_js %}
{% include 'modeBody.js' %}
{{ super() }}
{% endblock %}
