{% extends 'live.jinja2' %}

{% block body_html %}
<h1>{{ name }}</h1>

<div>
  <a href="{{ HOME_ROUTE }}">Home</a> &gt;
  <a href="{{ uri }}">{{ name }}</a>
</div>

<ul>
{% for batch in batches %}
  <li>
    {{ batch['name'] }}
    <a href="{{ uri }}{{ batch['uri'] }}/o" target="_blank">[output]</a>
  </li>
{% endfor %}
</ul>
{% endblock %}
