<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
{%- for css_uri in css_uris %}
  <link href="{{ css_uri }}" rel="stylesheet">
{%- endfor %}
</head>
<body>
{%- block body_html %}
{{ html_text | safe }}
{% endblock -%}
{%- for js_uri in js_uris %}
<script src="{{ js_uri }}"></script>
{% endfor -%}
<script>
{%- block body_js %}
{{ js_text | safe }}
{%- endblock %}
</script>
</body>
</html>
