{% extends 'live.jinja2' %}

{% block body_content %}
<h1>Automations</h1>

<ul>
{% for automation in automations %}
  <li>
    <a href="{{ automation['url'] }}">{{ automation['name'] }}</a>
  </li>
{% endfor %}
</ul>
{% endblock %}
