{% extends 'live.jinja2' %}

{% block body_html %}
<h1>Automations</h1>

<ul>
{%- for automation in automations %}
  <li>
    <a href="{{ automation['uri'] }}">{{ automation['name'] }}</a>
  </li>
{% endfor -%}
</ul>
{% endblock %}
