{% extends base_template %}
{% from 'type.jinja2' import render_key %}

{% block head_style_loaded %}
{{ super() -}}
{% for data_type in data_types %}{% from data_type.template import head_style_loaded %}{{ head_style_loaded() }}{% endfor %}
{% endblock %}

{% block head_style_inline %}
{{ super() -}}
{% for data_type in data_types %}{% from data_type.template import head_style_inline %}{{ head_style_inline() }}{% endfor %}
{% endblock %}

{% block head_script_inline %}
{{ super() -}}
var CC = {};
CC.tool_json_url = "{{ request.route_path('tool.json', tool_id=tool_id) }}";
{% for data_type in data_types %}{% from data_type.template import head_script_inline %}{{ head_script_inline() }}{% endfor %}
{% endblock %}

{% block body_content %}
{% block body_title %}{% endblock %}
<h1>{% block body_subtitle %}{% endblock %}</h1>

<form id="arguments" class="result">
{% for x in tool_template_parts %}
{%- if x is string -%}
{{ x | markdown }}
{% set has_tool_template = True %}

{%- else -%}
{% from x.data_type.template import render_argument %}
<div class="form-group">
{% if not has_tool_template %}
{{- render_key(x) -}}
{% endif %}
{{- render_argument(x) -}}
</div>

{%- endif -%}
{% endfor %}
<button type="submit" class="btn btn-primary btn-lg">Run</button>
</form>
{% endblock %}

{% block body_script_loaded %}
{{ super() -}}
{% for data_type in data_types %}{% from data_type.template import body_script_loaded %}{{ body_script_loaded() }}{% endfor %}
{% endblock %}

{% block body_script_inline %}
{{ super() -}}
{% for data_type in data_types %}{% from data_type.template import body_script_inline %}{{ body_script_inline() }}{% endfor %}
{% endblock %}
