{% extends base_template %}
{% from 'type.jinja2' import render_key %}

{% block head_style_loaded %}
{{ super() -}}
{% for data_type in data_types %}{% from data_type.template import head_style_loaded %}{{ head_style_loaded(request) }}{% endfor %}
{% endblock %}

{% block head_style_inline %}
{{ super() -}}
{% for data_type in data_types %}{% from data_type.template import head_style_inline %}{{ head_style_inline(request) }}{% endfor %}
{% endblock %}

{% block head_script_inline %}
{{ super() -}}
var CC = {};
CC.tool_json_url = "{{ request.route_path('tool.json', tool_id=tool.id) }}";
{% for data_type in data_types %}{% from data_type.template import head_script_inline %}{{ head_script_inline(request) }}{% endfor %}
{% endblock %}

{% block body_header %}
<header>
<div class="container">
{% block body_title %}{% endblock %}
</div>
</header>
{% endblock %}

{% block body_content %}
<form id="run-tool-form" class="result">
{% for x in tool.template_parts %}
{%- if x is string -%}
{{ x | markdown }}

{%- else -%}
{% from x.data_type.template import render_argument %}
<div class="form-group">
{{- render_key(request, x) -}}
{{- render_argument(request, x) -}}
</div>

{%- endif -%}
{% endfor %}
{% block run_tool_form_options %}{% endblock %}
{% block run_tool_form_buttons %}{% endblock %}
</form>
{% endblock %}

{% block body_script_loaded %}
{{ super() -}}
{% for data_type in data_types %}{% from data_type.template import body_script_loaded %}{{ body_script_loaded(request) }}{% endfor %}
{% endblock %}

{% block body_script_inline %}
{{ super() -}}
{% for data_type in data_types %}{% from data_type.template import body_script_inline %}{{ body_script_inline(request) }}{% endfor %}
{% endblock %}
