{% extends base_template %}
{% from 'type.jinja2' import render_key %}

{% block head_style_loaded %}
{{ super() -}}
{% for data_type in data_types %}{% from data_type.template import head_style_loaded %}{{ head_style_loaded() }}{% endfor %}
{% endblock %}

{% block head_style_inline %}
{{ super() -}}
#tool-form {margin-bottom: 1em}
{% for data_type in data_types %}{% from data_type.template import head_style_inline %}{{ head_style_inline() }}{% endfor %}
.error {background-color: yellow}
{% endblock %}

{% block head_script_inline %}
{{ super() -}}
d.crosscompute = {};
{% for data_type in data_types %}{% from data_type.template import head_script_inline %}{{ head_script_inline() }}{% endfor %}
{% endblock %}

{% block body_content %}
{% block body_title %}{% endblock %}
<div class="row">
<div class="col-xs-9"><h1>{% block body_subtitle %}{% endblock %}</h1></div>
<div class="col-xs-3 text-right h1">{% block body_subtitle_toolbar %}{% endblock %}</div>
</div>
<form id="tool-form" action="{{ request.route_path('tool', id=tool_id) }}" method="post">
{% for x in tool_template_parts %}
{%- if x is string -%}
{{ x | markdown }}
{% set has_tool_template = True %}

{%- else -%}
{% from x.data_type.template import render_argument %}
<div class="form-group">
{% if not has_tool_template %}
{{- render_key(x) -}}
{% endif %}
{{- render_argument(x) -}}
</div>

{%- endif -%}
{% endfor %}
<button type="submit" class="btn btn-primary btn-lg">Run</button>
</form>
{% endblock %}

{% block body_script_loaded %}
{{ super() -}}
{% for data_type in data_types %}{% from data_type.template import body_script_loaded %}{{ body_script_loaded() }}{% endfor %}
{% endblock %}

{% block body_script_inline %}
{{ super() -}}
{% for data_type in data_types %}{% from data_type.template import body_script_inline %}{{ body_script_inline() }}{% endfor %}
$('[data-toggle="popover"]').popover({'trigger': 'click hover focus'});
{% endblock %}
