{% extends base_template_path %}

{% block head_html %}
{{ super() -}}
<script>
const callbacks = {};
function sleep(ms) {
  return new Promise(r => setTimeout(r, ms));
}
</script>
{%- endblock %}

{% block body_js %}
{{ super() -}}
async function processMutations() {
  const uri = '{{ root_uri }}{{ mutation_uri }}';
  try {
    const r = await fetch(`${uri}?t=${mutationTimestamp}`), d = await r.json(), { styles, variables } = d;
    if (
      d.server_timestamp != {{ server_timestamp }} ||
      d.configurations.length ||
      d.templates.length
    ) {
      refreshPage();
    } else if (styles.length) {
      const { origin } = location;
      for (var e of document.getElementsByTagName('link')) {
        if (e.rel !== 'stylesheet' || new URL(e.href).origin !== origin) {
          continue;
        }
        e.href += '?' + Date.now();
      }
{% if step_name != 'input' %}
    } else if (variables.length) {
      for (const variable of variables) {
        refreshVariable(variable.id);
      }
{% endif %}
    }
    mutationTimestamp = d.mutation_timestamp;
    pingInterval = {{ minimum_ping_interval_in_milliseconds }};
  } catch (e) {
    if (pingInterval < {{ maximum_ping_interval_in_milliseconds }}) {
      pingInterval *= 1.1;
    }
    console.error(e);
  }
  setTimeout(processMutations, pingInterval);
}
async function refreshPage() {
  const r = await fetch(location.href, { method: 'head' });
  if (r.ok) {
    location.reload();
  } else {
    location.href = '{{ root_uri or '/' }}';
  }
}
function refreshVariable(variableId) {
  const fs = callbacks[variableId] || [];
  for (const f of fs) {
    f();
  }
}
let mutationTimestamp = {{ mutation_timestamp }}, pingInterval = {{ minimum_ping_interval_in_milliseconds }};
setTimeout(processMutations, pingInterval);
{%- endblock %}
