{% extends base_template_path %}

{% block body_js %}
{{ super() -}}
let mutationTimestamp = {{ mutation_timestamp }};
let pingInterval = {{ MINIMUM_PING_INTERVAL_IN_MILLISECONDS }};
async function refreshPage() {
  response = await fetch(location.href, { method: 'head' });
  if (response.ok) {
    location.reload();
  } else {
    location.href = '{{ root_uri or '/' }}';
  }
}
async function processMutations() {
  const uri = '{{ root_uri }}{{ mutation_uri }}';
  try {
    const response = await fetch(`${uri}?t=${mutationTimestamp}`);
    const d = await response.json();
    const { styles, variables } = d;
    if (
      d.server_timestamp != {{ SERVER_TIMESTAMP }} ||
      d.configurations.length ||
      d.styles.length ||
      d.templates.length
    ) {
      refreshPage();
    } else if (styles.length) {
      const { origin } = location;
      for (var e of document.getElementsByTagName('link')) {
        if (e.rel !== 'stylesheet' || new URL(e.href).origin !== origin) {
          continue;
        }
        e.href += '?' + Date.now();
      }
    } else if (variables.length) {
      for (const variable of variables) {
        refreshVariable(variable.id);
      }
{% endif %}
    }
    mutationTimestamp = d.mutation_timestamp;
    pingInterval = {{ MINIMUM_PING_INTERVAL_IN_MILLISECONDS }};
  } catch (error) {
    console.error(error);
    if (pingInterval < {{ MAXIMUM_PING_INTERVAL_IN_MILLISECONDS }}) {
      pingInterval *= 1.1;
    }
  }
  setTimeout(processMutations, pingInterval);
}
setTimeout(processMutations, pingInterval);
{%- endblock %}
