{% extends BASE_JINJA2 %}

{% block body_js %}
let mutationTimestamp = {{ mutation_timestamp }};
let pingInterval = {{ MINIMUM_PING_INTERVAL }};
async function refreshPage() {
  response = await fetch(location.href, { method: 'head' });
  if (response.ok) {
    location.reload();
  } else {
    location.href = '/';
  }
}
async function processMutations() {
  const uri = '{{ BASE_URI }}{{ mutation_uri }}';
  try {
    const response = await fetch(`${uri}?t=${mutationTimestamp}`);
    const d = await response.json();
    const { variables } = d;
    if (
      d.server_timestamp != {{ SERVER_TIMESTAMP }} ||
      d.configurations.length ||
      d.templates.length ||
      d.styles.length
    ) {
      refreshPage();
    } else if (variables.length) {
      for (const variable of variables) {
        refreshVariable(variable.id);
      }
    }
    mutationTimestamp = d.mutation_timestamp;
    pingInterval = {{ MINIMUM_PING_INTERVAL }};
  } catch {
    if (pingInterval < {{ MAXIMUM_PING_INTERVAL }}) {
      pingInterval *= 1.1;
    }
  }
  setTimeout(processMutations, pingInterval);
}
setTimeout(processMutations, pingInterval);
{{ super() -}}
{%- endblock %}
