{% extends BASE_JINJA2 if IS_STATIC else LIVE_JINJA2 %}

{#
{% block header_html %}
<a href="{{ BASE_URI if BASE_URI else '/' }}">Root</a> &gt;
<a href="{{ BASE_URI }}{{ automation_definition.uri }}">{{ automation_definition.name }}</a> &gt;
<a>{{ batch_definition.name }}</a> &gt;
<a href="{{ BASE_URI }}{{ uri }}">{{ mode_name }}</a>
{% endblock %}
#}

{% block body_html -%}
{{ super() }}
{% if mode_name == 'input' %}
<button id="run" type="button">Run</button>
{% endif -%}
{%- endblock %}

{%- block body_js -%}
{%- if mode_name == 'input' -%}
const GET_DATA_BY_VIEW_NAME = {};
document.getElementById('run').onclick = async () => {
  const dataById = {};
  for (const x of document.getElementsByClassName('input')) {
    const { view: viewName, id: variableId } = x.dataset;
    dataById[variableId] = GET_DATA_BY_VIEW_NAME[viewName](x);
  }
  const uri = '{{ BASE_URI }}{{ automation_definition.uri }}.json';
  const response = await fetch(uri, {
    method: 'POST',
    headers: {'Content-Type': 'application/json'},
    body: JSON.stringify(dataById)});
  const d = await response.json();
  window.location = '{{ BASE_URI }}{{ automation_definition.uri }}/r/' + d['id'] + '/o';
}
{% elif mode_name == 'output' -%}
const functionsByVariableId = {};
function registerElement(variableId, refreshElement) {
  if (functionsByVariableId[variableId] === undefined) {
    functionsByVariableId[variableId] = [];
  }
  functionsByVariableId[variableId].push(refreshElement);
}
function refreshVariable(variableId) {
  for (const f of functionsByVariableId[variableId]) {
    f();
  }
}
{% endif -%}
{{ super() }}
{%- endblock -%}
