{% extends 'base.jinja2' if IS_STATIC else 'live.jinja2' %}

{#
{% block header_html %}
<a href="{{ BASE_URI if BASE_URI else '/' }}">Root</a> &gt;
<a href="{{ BASE_URI }}{{ automation_definition['uri'] }}">{{ automation_definition['name'] }}</a> &gt;
<a>{{ batch_definition['name'] }}</a> &gt;
<a href="{{ BASE_URI }}{{ uri }}">{{ page_type_name }}</a>
{% endblock %}
#}

{% block body_html -%}
{{ super() }}
{% if page_type_name == 'input' %}
<button id="run">Run</button>
{% endif %}
{%- endblock %}

{%- block body_js -%}
{{ super() }}
{% if page_type_name == 'input' %}
document.getElementById('run').onclick = async () => {
  for (const e of document.getElementsByClassName('input')) {
    const viewName = e.classList[1];
    console.log(viewName)
  }
  const response = await fetch('https://google.com', {
    /*
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify(data),
    */
  })
  console.log(response.content)
  // console.log(response.json())
}
{% endif %}
{%- endblock -%}
