{% extends BASE_JINJA2 if IS_STATIC else LIVE_JINJA2 %}

{% block body_html -%}
<h1>{{ title_text }}</h1>
<ul>
{%- for automation in automations %}
<li><a href="{{ BASE_URI }}{{ automation['uri'] }}">{{ automation['name'] }}</a></li>
{%- endfor %}
</ul>
{%- endblock %}
