{% extends item_template %}

{% block page_title %}
{{ tool.name }} &middot; Tools &middot; {{ website_name -}}
{% endblock %}

{% block body_title %}
<h1>{{ tool.name }}</h1>
{% endblock %}

{% block run_tool_form_buttons %}
<button type="button" class="btn btn-lg btn-primary run" data-toggle="tooltip" title="SHIFT-ENTER">Run</button>
{% endblock %}
