{% extends item_template %}

{% block page_title %}
{% block body_subtitle %}{{ tool_title }}{% endblock %} &middot; Tools &middot; {{ website_name -}}
{% endblock %}

{% block body_script_inline %}
{{ super() -}}
$('#arguments .form-group').first().find('input').focus();
{% endblock %}
