{% macro render_properties(request, data_items, stamp='') %}
{%- for x in data_items %}
{% from x.data_type.template import render_property %}
<div class="form-group">
{{- render_key(request, x, stamp=stamp) }}
{{- render_property(request, x, stamp=stamp) }}
</div>
{%- endfor %}
{% endmacro %}

{% macro render_key(request, data_item, stamp='') %}
<label for="{{ data_item.key }}{{ stamp }}" class="control-label">{{ data_item.name }}</label>
{% if data_item.help %}
<span class="glyphicon glyphicon-question-sign btn-lg" data-toggle="popover" data-content="{{ data_item.help }}"></span>
{% endif %}
{% endmacro %}
