{% macro render_properties(data_items, stamp='') %}
{%- for x in data_items %}
{% from x.data_type.template import render_property %}
<div class="form-group">
{{- render_key(x, stamp=stamp) }}
{{- render_property(x, stamp=stamp) }}
</div>
{%- endfor %}
{% endmacro %}

{% macro render_key(data_item, stamp='') %}
{% set key = data_item.key %}
{% set help_text = data_item.help_text %}
<label for="{{ key }}{{ stamp }}" class="control-label">{{ key }}</label>
{% if help_text %}
<span class="glyphicon glyphicon-question-sign btn-lg" data-toggle="popover" data-content="{{ help_text }}"></span>
{% endif %}
{% endmacro %}
