h1, .h1 {
  font-weight: bold !important;
}
.error {
  background-color: yellow;
}
.result {
  h2, h3, h4, h5, h6 {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
  }
  .control-label {
    font-size: 175%;
    font-weight: normal;
  }
  .form-group {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
}
#arguments {
  margin-bottom: 30px !important;
}
