---
name: crosscompute-tests
on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]
jobs:
  tests:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.9]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          set -xe
          python -VV
          python -m site
          python -m pip install --upgrade pip
          pip install --upgrade tox tox-gh-actions
      - name: Test with tox
        run: tox
